#home {
	/*background: #ffc107;*/
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,193,7,1) 15%);
	color: white;
}

.rodape{
	background: #ffc107;
	width: 100%;
	text-align: center;
}

.caixa{
	padding: 50px 0;
	border-bottom: 3px solid #e5e5e5;
}

